ul li{list-style-type: none; float: left;margin-left: 20px;}
ul{display: table;margin-left: auto;margin-right: auto;}
table {text-align: center; margin-left: auto; margin-right: auto; }
.number_btn{ border: 0; outline: 0; background-color: transparent; text-decoration: underline; cursor: pointer;font-size: 15px;color: #551a8b;}
.center {
    text-align: center;
}
.number_btn:active{color: red;}