html {
    text-align: center;
}

input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: black;
    border-radius: 5px;
    height: 30px;
    float: left;
    margin-left: 28%;
    margin-right: -18%;
    margin-top: -3px;
    cursor: pointer;
}
.cancel {
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}
.input_text {
    width: 55%;
    height: 22px;
    border-radius: 3px;
}
.center {
    border: 2px solid;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
}

.btn {
    margin-top: 2%;
    margin-bottom: 5%;
}

html {
    background-color: whitesmoke;
}

p {
    text-align: end;
    font-size: 9px;
    margin-right: 5%;
}